.wrapper {
  border-radius: 8px;
  transition: border-color 0.2s ease;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  background: $bg-main-dark;
  color: white;
  border-radius: 8px;
  padding: 8px 10px;

  &:focus {
    outline: none;
  }

  // иконка календаря
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }
}

.wrapper.focused .input {
  border-color: #6c8cff;
}

.wrapper.filled .input {
  border-color: #4caf50;
}
