.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}
