.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  box-sizing: border-box;

}

.item {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}
