.iconButton {
  padding: 4px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: background-color .2s;
  cursor: pointer;

  @media (prefers-color-scheme: dark) {
    color: white;

    background: $bg-core-dark;
  }

  &:hover {
    background-color: rgba($bg-core-light, 1.2);

    @media (prefers-color-scheme: dark) {
      background-color: rgba($bg-core-dark, 1.2);
    }
  }

  & > svg {
    margin: auto 0;
    fill: $bg-core-dark;
    @media (prefers-color-scheme: dark) {
      fill: white;
    }
    width: 24px;
    height: 24px;
  }
}


.mainColor {
  &:hover {
    background-color: $bg-core-light;

    @media (prefers-color-scheme: dark) {
      background-color: rgba($bg-core-dark, 1.2);
    }
  }


}

.additionalColor {
  &:hover {
    background-color: $bg-main-light;

    @media (prefers-color-scheme: dark) {
      background-color: $bg-main-dark;

    }
  }
}
