@use "modern-normalize";

body {
  background-color: $bg-core-light;


  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $bg-core-dark;
    color: $bg-core-light;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($bg-core-light, 0.2);

  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  @media (prefers-color-scheme: dark) {
    background-color: $bg-core-dark;
    
  }
}
