@use "modern-normalize";

body {
  background-color: $bg-core-light;


  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $bg-core-dark;
    color: $bg-core-light;
  }
}
