.button {
  padding: 4px;
  border-radius: 8px;
  background-color: $bg-core-dark;
  border: 1px solid transparent;
  transition: background-color .2s;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: rgba($bg-core-dark, 1.2);
  }
}

.mainColor {
  &:hover {
    background-color: $bg-core-dark;
  }
}

.additionalColor {
  &:hover {
    background-color: $bg-main-dark;
  }
}
