.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  gap: 16px;
  position: relative;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mainContent {
  height: 100%;
  width: 100%;
}

.circleLoading {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
