.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  gap: 16px;

}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mainContent {
  height: 100%;
  width: 100%;

}
