.wrapper {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  gap: 16px;
  overflow: hidden;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mainContent {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.circleLoading {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & > svg {
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

}
